# Preface

Purpose:

Covid-19 Analysis with Weather Data (Temp and Humidity) for seleceted two Cities- Sao Paulo(Brazil) and New York (USA) to show if these weather variables impact Covid new cases increase.

Data:

1. Resources folder under Main Branch- https://github.com/archinarula/Group-5-Project/Resources

# Dependencies and Load Data

In [3]:
# first import the dependencies
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
from plotly.subplots import make_subplots
%matplotlib inline

## Import the combined data

In [4]:
# Add the Resources path variables:
Combined_data="Resources/Final_Combine_Data.csv"

#Read CSVs and Create Dataframes:
Combined_df_all= pd.read_csv(Combined_data, parse_dates=['Reported_Date'], encoding="ISO-8859-1",low_memory=False)

In [5]:
#Combined dataframe
print (Combined_df_all.shape)
Combined_df_all.head()

(886, 16)

,Extract_Date,Reported_Date,City,is_newyork,Population,Data_Source,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2021-05-30,2020-02-29,New York,1,18804000,https://github.com/nychealth/coronavirus-data/...,1,0.0,0.01,0.01,0.40,44.08,5.702857,58.961429,3.500000,56.268000
1,2021-05-30,2020-03-01,New York,1,18804000,https://github.com/nychealth/coronavirus-data/...,0,0.0,0.00,0.00,-0.10,45.71,5.394286,59.610000,3.432000,55.587333
2,2021-05-30,2020-03-02,New York,1,18804000,https://github.com/nychealth/coronavirus-data/...,0,0.0,0.00,0.00,6.61,52.25,4.487143,61.085714,3.816000,55.348667
3,2021-05-30,2020-03-03,New York,1,18804000,https://github.com/nychealth/coronavirus-data/...,1,0.0,0.01,0.00,11.27,70.72,4.317143,61.561429,4.190667,54.404000
4,2021-05-30,2020-03-04,New York,1,18804000,https://github.com/nychealth/coronavirus-data/...,5,0.0,0.03,0.01,10.21,58.76,4.688571,60.670000,4.576667,55.585333

In [6]:
# Delete extraneous columns
Combined_df=Combined_df_all.drop(["is_newyork","Population","Data_Source"], axis=1)
Combined_df.head()

,Extract_Date,Reported_Date,City,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2021-05-30,2020-02-29,New York,1,0.0,0.01,0.01,0.40,44.08,5.702857,58.961429,3.500000,56.268000
1,2021-05-30,2020-03-01,New York,0,0.0,0.00,0.00,-0.10,45.71,5.394286,59.610000,3.432000,55.587333
2,2021-05-30,2020-03-02,New York,0,0.0,0.00,0.00,6.61,52.25,4.487143,61.085714,3.816000,55.348667
3,2021-05-30,2020-03-03,New York,1,0.0,0.01,0.00,11.27,70.72,4.317143,61.561429,4.190667,54.404000
4,2021-05-30,2020-03-04,New York,5,0.0,0.03,0.01,10.21,58.76,4.688571,60.670000,4.576667,55.585333

In [7]:
import warnings
warnings.filterwarnings("ignore")

In [8]:
#extract only NY data
NY_Combined_df = Combined_df.loc[Combined_df['City']=='New York']
print (NY_Combined_df.shape)
NY_Combined_df.head()

(443, 13)

,Extract_Date,Reported_Date,City,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2021-05-30,2020-02-29,New York,1,0.0,0.01,0.01,0.40,44.08,5.702857,58.961429,3.500000,56.268000
1,2021-05-30,2020-03-01,New York,0,0.0,0.00,0.00,-0.10,45.71,5.394286,59.610000,3.432000,55.587333
2,2021-05-30,2020-03-02,New York,0,0.0,0.00,0.00,6.61,52.25,4.487143,61.085714,3.816000,55.348667
3,2021-05-30,2020-03-03,New York,1,0.0,0.01,0.00,11.27,70.72,4.317143,61.561429,4.190667,54.404000
4,2021-05-30,2020-03-04,New York,5,0.0,0.03,0.01,10.21,58.76,4.688571,60.670000,4.576667,55.585333

In [9]:
#extract only SP data
SP_Combined_df = Combined_df.loc[Combined_df['City']=='Sao Paulo']
print (SP_Combined_df.shape)
SP_Combined_df.head()

(443, 13)

,Extract_Date,Reported_Date,City,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
443,2021-05-30,2020-02-29,Sao Paulo,0,0.20,0.00,0.0,20.47,85.96,20.224286,83.507143,22.213333,80.343333
444,2021-05-30,2020-03-01,Sao Paulo,0,0.17,0.00,0.0,19.50,85.50,20.374286,83.578571,22.159333,80.812667
445,2021-05-30,2020-03-02,Sao Paulo,0,0.14,0.00,0.0,19.61,85.81,20.490000,84.471429,21.902000,81.646000
446,2021-05-30,2020-03-03,Sao Paulo,0,0.14,0.00,0.0,19.17,85.53,20.321429,85.334286,21.606667,82.187333
447,2021-05-30,2020-03-04,Sao Paulo,1,0.29,0.01,0.0,19.61,79.08,19.787143,85.832857,21.242000,82.764000

In [11]:
Combined_df_all_Reg= Combined_df_all.drop(["Reported_Date","City","Population","Data_Source"], axis=1)
Combined_df_all_Reg.head()

,Extract_Date,is_newyork,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2021-05-30,1,1,0.0,0.01,0.01,0.40,44.08,5.702857,58.961429,3.500000,56.268000
1,2021-05-30,1,0,0.0,0.00,0.00,-0.10,45.71,5.394286,59.610000,3.432000,55.587333
2,2021-05-30,1,0,0.0,0.00,0.00,6.61,52.25,4.487143,61.085714,3.816000,55.348667
3,2021-05-30,1,1,0.0,0.01,0.00,11.27,70.72,4.317143,61.561429,4.190667,54.404000
4,2021-05-30,1,5,0.0,0.03,0.01,10.21,58.76,4.688571,60.670000,4.576667,55.585333

In [14]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split # Use the Sklearn `train_test_split()` function to split the data into training

### Combined Cities Regression for TEMP only- TEMPRETURE, CITY CODE with MAVG_7day_per_100k_new_cases

In [15]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X_all_temp = Combined_df_all_Reg[["mavg_15_temp","is_newyork"]]
y_all_temp = Combined_df_all_Reg["mavg_7day_per_100k_new_cases"].values.reshape(-1, 1)

print("Shape: ", X_all_temp.shape, y_all_temp.shape)
#print(X_all_temp)
#print(y_all_temp)

Shape:  (886, 2) (886, 1)

In [16]:
# Create the model
model_all_temp = linear_model.LinearRegression()
# Fit the model to the training data. 
model_all_temp.fit(X_all_temp, y_all_temp)

LinearRegression()

In [17]:
# Use our model to make predictions
predicted= model_all_temp.predict(X_all_temp)

# Score the predictions with mse and r2
# Calculate the mean_squared_error and the r-squared value for the testing data
mse = mean_squared_error(y_all_temp, predicted) #There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect. Since there is no correct answer, the MSE’s basic value is in selecting one prediction model over another.
r2 = r2_score(y_all_temp, predicted) #there is also no correct answer as to what R2 should be. 100% means perfect correlation. Yet, there are models with a low R2 that are still good models.

print(f"Regression Report using All 14.5 months data and temperature only for both NYC and SPC")
print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")
print('Coefficients: \n', model_all_temp.coef_)
print('intercept:', model_all_temp.intercept_)

Regression Report using All 14.5 months data and temperature only for both NYC and SPC
mean squared error (MSE): 48.82608582006807
R-squared (R2): 0.31754414038903234
Coefficients:
 [[ -0.67990658 -10.2640221 ]]
intercept: [28.22575618]

In [18]:
# Call the `score()` method on the model to show the R2 score
print(f"Regression accuracy score using All 14.5 months data and temperature for both NYC and SPC")
model_all_temp.score(X_all_temp, y_all_temp)

Regression accuracy score using All 14.5 months data and temperature for both NYC and SPC

0.31754414038903234

### Combined Cities Regression for Humidity only- HUMIDITY, CITY CODE with MAVG_7day_per_100k_new_cases

In [19]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X_all_humidity = Combined_df_all_Reg[["mavg_15_humidity","is_newyork"]]
y_all_humidity = Combined_df_all_Reg["mavg_7day_per_100k_new_cases"].values.reshape(-1, 1)

print("Shape: ", X_all_humidity.shape, y_all_humidity.shape)
#print(X_all_humidity)
#print(y_all_humidity)

Shape:  (886, 2) (886, 1)

In [20]:
# Create the model
model_all_humidity = linear_model.LinearRegression()
# Fit the model to the training data. 
model_all_humidity.fit(X_all_humidity, y_all_humidity)

LinearRegression()

In [21]:
# Use our model to make predictions
predicted= model_all_humidity.predict(X_all_humidity)

# Score the predictions with mse and r2
# Calculate the mean_squared_error and the r-squared value for the testing data
mse = mean_squared_error(y_all_humidity, predicted) #There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect. Since there is no correct answer, the MSE’s basic value is in selecting one prediction model over another.
r2 = r2_score(y_all_humidity, predicted) #there is also no correct answer as to what R2 should be. 100% means perfect correlation. Yet, there are models with a low R2 that are still good models.

print(f"Regression Report using All 14.5 months data and humidity only for both NYC and SPC")
print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")
print('Coefficients: \n', model_all_humidity.coef_)
print('intercept:', model_all_humidity.intercept_)

Regression Report using All 14.5 months data and humidity only for both NYC and SPC
mean squared error (MSE): 63.68139485814083
R-squared (R2): 0.10990733049349799
Coefficients:
 [[-0.27011368 -6.79912289]]
intercept: [33.3841636]

In [22]:
# Call the `score()` method on the model to show the R2 score
print(f"Regression accuracy score using All 14.5 months data and humidity for both NYC and SPC")
model_all_humidity.score(X_all_humidity, y_all_humidity)

Regression accuracy score using All 14.5 months data and humidity for both NYC and SPC

0.10990733049349799

## Linear Regression- New York alone

In [23]:
print(NY_Combined_df.shape)
NY_Combined_df.head()

(443, 13)

,Extract_Date,Reported_Date,City,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2021-05-30,2020-02-29,New York,1,0.0,0.01,0.01,0.40,44.08,5.702857,58.961429,3.500000,56.268000
1,2021-05-30,2020-03-01,New York,0,0.0,0.00,0.00,-0.10,45.71,5.394286,59.610000,3.432000,55.587333
2,2021-05-30,2020-03-02,New York,0,0.0,0.00,0.00,6.61,52.25,4.487143,61.085714,3.816000,55.348667
3,2021-05-30,2020-03-03,New York,1,0.0,0.01,0.00,11.27,70.72,4.317143,61.561429,4.190667,54.404000
4,2021-05-30,2020-03-04,New York,5,0.0,0.03,0.01,10.21,58.76,4.688571,60.670000,4.576667,55.585333

In [24]:
NY_Combined_Reg= NY_Combined_df.drop(["Reported_Date","City"], axis=1)
NY_Combined_Reg.head()

,Extract_Date,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2021-05-30,1,0.0,0.01,0.01,0.40,44.08,5.702857,58.961429,3.500000,56.268000
1,2021-05-30,0,0.0,0.00,0.00,-0.10,45.71,5.394286,59.610000,3.432000,55.587333
2,2021-05-30,0,0.0,0.00,0.00,6.61,52.25,4.487143,61.085714,3.816000,55.348667
3,2021-05-30,1,0.0,0.01,0.00,11.27,70.72,4.317143,61.561429,4.190667,54.404000
4,2021-05-30,5,0.0,0.03,0.01,10.21,58.76,4.688571,60.670000,4.576667,55.585333

### NYC Data only - Regression for TEMP only- TEMPRETURE, CITY CODE with MAVG_7day_per_100k_new_cases

In [25]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X_NY_Temp = NY_Combined_Reg["mavg_15_temp"].values.reshape(-1, 1)
y_NY_Temp = NY_Combined_Reg["mavg_7day_per_100k_new_cases"].values.reshape(-1, 1)

print("Shape: ", X_NY_Temp.shape, y_NY_Temp.shape)
#print(X_NY_Temp)
#print(y_NY_Temp)

Shape:  (443, 1) (443, 1)

In [26]:
# Create the model
model_NY_Temp = linear_model.LinearRegression()

In [27]:
# Fit the model to the training data. 
#model.fit(X_train, y_train)
model_NY_Temp.fit(X_NY_Temp, y_NY_Temp)

LinearRegression()

In [28]:
# Use our model to make predictions
predicted = model_NY_Temp.predict(X_NY_Temp)

# Score the predictions with mse and r2
# Calculate the mean_squared_error and the r-squared value for the testing data
mse = mean_squared_error(y_NY_Temp, predicted) #There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect. Since there is no correct answer, the MSE’s basic value is in selecting one prediction model over another.
r2 = r2_score(y_NY_Temp, predicted) #there is also no correct answer as to what R2 should be. 100% means perfect correlation. Yet, there are models with a low R2 that are still good models.

print(f"Regression Report using All 14.5 months data and temperature for NYC ONLY")
print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")
print('Coefficients: \n', model_NY_Temp.coef_)
print('intercept:', model_NY_Temp.intercept_)

Regression Report using All 14.5 months data and temperature for NYC ONLY
mean squared error (MSE): 26.913921187940794
R-squared (R2): 0.5877291036674369
Coefficients:
 [[-0.75100805]]
intercept: [18.86331963]

## Linear Regression- Sao Paulo alone

In [29]:
print(SP_Combined_df.shape)
SP_Combined_df.head()

(443, 13)

,Extract_Date,Reported_Date,City,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
443,2021-05-30,2020-02-29,Sao Paulo,0,0.20,0.00,0.0,20.47,85.96,20.224286,83.507143,22.213333,80.343333
444,2021-05-30,2020-03-01,Sao Paulo,0,0.17,0.00,0.0,19.50,85.50,20.374286,83.578571,22.159333,80.812667
445,2021-05-30,2020-03-02,Sao Paulo,0,0.14,0.00,0.0,19.61,85.81,20.490000,84.471429,21.902000,81.646000
446,2021-05-30,2020-03-03,Sao Paulo,0,0.14,0.00,0.0,19.17,85.53,20.321429,85.334286,21.606667,82.187333
447,2021-05-30,2020-03-04,Sao Paulo,1,0.29,0.01,0.0,19.61,79.08,19.787143,85.832857,21.242000,82.764000

In [30]:
SP_Combined_Reg= SP_Combined_df.drop(["Reported_Date","City"], axis=1)
SP_Combined_Reg.head()

,Extract_Date,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
443,2021-05-30,0,0.20,0.00,0.0,20.47,85.96,20.224286,83.507143,22.213333,80.343333
444,2021-05-30,0,0.17,0.00,0.0,19.50,85.50,20.374286,83.578571,22.159333,80.812667
445,2021-05-30,0,0.14,0.00,0.0,19.61,85.81,20.490000,84.471429,21.902000,81.646000
446,2021-05-30,0,0.14,0.00,0.0,19.17,85.53,20.321429,85.334286,21.606667,82.187333
447,2021-05-30,1,0.29,0.01,0.0,19.61,79.08,19.787143,85.832857,21.242000,82.764000

### SPC Data only - Regression for TEMP only- TEMPRETURE, CITY CODE with MAVG_7day_per_100k_new_cases

In [31]:
# Assign the data to X and y
# Note: Sklearn requires a two-dimensional array of values
# so we use reshape() to create this

X_SP_temp = SP_Combined_Reg["mavg_15_temp"].values.reshape(-1, 1)
y_SP_temp = SP_Combined_Reg["mavg_7day_per_100k_new_cases"].values.reshape(-1, 1)

print("Shape: ", X_SP_temp.shape, y_SP_temp.shape)
#print(X_SP_temp)
#print(y_SP_temp)

Shape:  (443, 1) (443, 1)

In [32]:
# Create the model
model_SP_temp = linear_model.LinearRegression()

In [33]:
# Fit the model to the training data. 
model_SP_temp.fit(X_SP_temp, y_SP_temp)

LinearRegression()

In [34]:
# Use our model to make predictions
predicted = model_SP_temp.predict(X_SP_temp)

# Score the predictions with mse and r2
# Calculate the mean_squared_error and the r-squared value for the testing data
mse = mean_squared_error(y_SP_temp, predicted) #There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect. Since there is no correct answer, the MSE’s basic value is in selecting one prediction model over another.
r2 = r2_score(y_SP_temp, predicted) #there is also no correct answer as to what R2 should be. 100% means perfect correlation. Yet, there are models with a low R2 that are still good models.

print(f"Regression Report using All 14.5 months data and temperature for SPC ONLY")
print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")
print('Coefficients: \n', model_SP_temp.coef_)
print('intercept:', model_SP_temp.intercept_)

Regression Report using All 14.5 months data and temperature for SPC ONLY
mean squared error (MSE): 65.72279676935418
R-squared (R2): 0.006190732338079874
Coefficients:
 [[0.28592161]]
intercept: [8.26271389]

In [35]:
# Call the `score()` method on the model to show the R2 score
print(f"Regression accuracy score using All 14.5 months data and temperature for SPC ONLY")
model_SP_temp.score(X_SP_temp, y_SP_temp)

Regression accuracy score using All 14.5 months data and temperature for SPC ONLY

0.006190732338079874