# Covid new cases data cleanup-Sao Paulo and New York

In [12]:
# Import Libraries Required
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [15]:
# Add the Resources path variables:
NY_data = "NY_new_covidcase.csv"
SP_data = "SP_new_covidcases.csv"
Combined_data="Final_Combine_Data.csv"

New York data cleaning

In [5]:
# Read the files and store into Pandas Dataframes using directly the read_csv function that converts excel data into the dataframe
NYCovid_df = pd.read_csv(NY_data, parse_dates=['date'],  encoding="ISO-8859-1",low_memory=False)

In [6]:
NYCovid_df.head()

,date,CASE_COUNT,PROBABLE_CASE_COUNT,CASE_COUNT_7DAY_AVG,New york 2020 population,Cal_per_100K_moving7_avg_new_cases,ALL_CASE_COUNT_7DAY_AVG,BX_CASE_COUNT,BX_PROBABLE_CASE_COUNT,BX_CASE_COUNT_7DAY_AVG,...,MN_ALL_CASE_COUNT_7DAY_AVG,QN_CASE_COUNT,QN_PROBABLE_CASE_COUNT,QN_CASE_COUNT_7DAY_AVG,QN_ALL_CASE_COUNT_7DAY_AVG,SI_CASE_COUNT,SI_PROBABLE_CASE_COUNT,SI_CASE_COUNT_7DAY_AVG,SI_ALL_CASE_COUNT_7DAY_AVG,INCOMPLETE
0,2020-02-29,1,0,0,18804000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-01,0,0,0,18804000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-02,0,0,0,18804000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-03,1,0,0,18804000,0.0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,2020-03-04,5,0,0,18804000,0.0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0

In [7]:
#Drop columns not required
NYCovid_df=NYCovid_df.drop(["PROBABLE_CASE_COUNT","New york 2020 population","ALL_CASE_COUNT_7DAY_AVG", "BX_CASE_COUNT","BX_PROBABLE_CASE_COUNT","BX_CASE_COUNT_7DAY_AVG","MN_ALL_CASE_COUNT_7DAY_AVG","QN_CASE_COUNT","QN_PROBABLE_CASE_COUNT","QN_CASE_COUNT_7DAY_AVG","QN_ALL_CASE_COUNT_7DAY_AVG","SI_CASE_COUNT","SI_PROBABLE_CASE_COUNT","SI_CASE_COUNT_7DAY_AVG","SI_ALL_CASE_COUNT_7DAY_AVG","INCOMPLETE", "BX_ALL_CASE_COUNT_7DAY_AVG","BK_CASE_COUNT","BK_PROBABLE_CASE_COUNT","BK_CASE_COUNT_7DAY_AVG","BK_ALL_CASE_COUNT_7DAY_AVG","MN_CASE_COUNT","MN_PROBABLE_CASE_COUNT","MN_CASE_COUNT_7DAY_AVG"], axis=1)
NYCovid_df.head()

,date,CASE_COUNT,CASE_COUNT_7DAY_AVG,Cal_per_100K_moving7_avg_new_cases
0,2020-02-29,1,0,0.0
1,2020-03-01,0,0,0.0
2,2020-03-02,0,0,0.0
3,2020-03-03,1,0,0.0
4,2020-03-04,5,0,0.0

In [8]:
NYCovid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                449 non-null    datetime64[ns]
 1   CASE_COUNT                          449 non-null    int64
 2   CASE_COUNT_7DAY_AVG                 449 non-null    int64
 3   Cal_per_100K_moving7_avg_new_cases  449 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 14.2 KB

In [9]:
#determine any null values in the data
NYCovid_df.isnull().sum()

date                                  0
CASE_COUNT                            0
CASE_COUNT_7DAY_AVG                   0
Cal_per_100K_moving7_avg_new_cases    0
dtype: int64

In [52]:
#generate a CSV output of clean file
NYCovid_df.to_csv (r'Clean_CSV_newdata\NYCovid_newdata.csv', index = False, header=True)

Sao Paulo Covid file cleanup

In [53]:
SPCovid_df = pd.read_csv(SP_data,parse_dates=['date'], encoding="ISO-8859-1",low_memory=False)
SPCovid_df.head()

,epi_week,date,country,state,city,id,code region id,name region,new deaths,deaths,...,Sao Paulo population,avg_cases_per_100_k,total cases,deaths_per_100K,totalcases_per_100_k,deaths_by_total_cases,data source,last info date,data source for analysis,rec insert dt
0,9,2020-02-25,Brazil,SP,SÃ£o Paulo/SP,3550308,35016,SÃ£o Paulo,0,0,...,11869660,0.0,1,0.0,0.00811,0.0,SES,2021-05-14,https://github.com/wcota/covid19br/blob/master...,2021-05-19
1,9,2020-02-26,Brazil,SP,SÃ£o Paulo/SP,3550308,35016,SÃ£o Paulo,0,0,...,11869660,0.0,1,0.0,0.00811,0.0,SES,2021-05-14,https://github.com/wcota/covid19br/blob/master...,2021-05-19
2,9,2020-02-27,Brazil,SP,SÃ£o Paulo/SP,3550308,35016,SÃ£o Paulo,0,0,...,11869660,0.0,1,0.0,0.00811,0.0,SES,2021-05-14,https://github.com/wcota/covid19br/blob/master...,2021-05-19
3,9,2020-02-28,Brazil,SP,SÃ£o Paulo/SP,3550308,35016,SÃ£o Paulo,0,0,...,11869660,0.0,2,0.0,0.01623,0.0,SES,2021-05-14,https://github.com/wcota/covid19br/blob/master...,2021-05-19
4,9,2020-02-29,Brazil,SP,SÃ£o Paulo/SP,3550308,35016,SÃ£o Paulo,0,0,...,11869660,0.0,2,0.0,0.01623,0.0,SES,2021-05-14,https://github.com/wcota/covid19br/blob/master...,2021-05-19

In [54]:
#Drop columns not required
SPCovid_df=SPCovid_df.drop(["epi_week","country","state","city","code region id","name region","new deaths","deaths","Sao Paulo population","total cases","deaths_per_100K","totalcases_per_100_k","deaths_by_total_cases","data source","last info date","data source for analysis","rec insert dt", "id", "original from wcota git hub"], axis=1)
SPCovid_df.head()

        date  new cases  Cal_avg_new_cases_7_days  avg_cases_per_100_k
0 2020-02-25          0                       NaN                  0.0
1 2020-02-26          0                       NaN                  0.0
2 2020-02-27          0                       NaN                  0.0
3 2020-02-28          1                       NaN                  0.0
4 2020-02-29          0                       0.0                  0.0

In [55]:
#determine any null values in the data
SPCovid_df.isnull().sum()

date                        0
new cases                   0
Cal_avg_new_cases_7_days    4
avg_cases_per_100_k         0
dtype: int64

In [56]:
SPCovid_df = SPCovid_df.fillna(0)

In [57]:
SPCovid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      448 non-null    datetime64[ns]
 1   new cases                 448 non-null    int64
 2   Cal_avg_new_cases_7_days  448 non-null    float64
 3   avg_cases_per_100_k       448 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1)
memory usage: 14.1 KB

In [58]:
#generate a CSV output of clean file
SPCovid_df.to_csv (r'Clean_CSV_newdata\SPCovid_newdata.csv', index = False, header=True)

Aisha's origin Combined file clean up

In [23]:
Combined_df = pd.read_csv(Combined_data,encoding="ISO-8859-1",low_memory=False)
Combined_df.head()

,Ã¯Â»Â¿Reported_Date,City,is_newyork,Population,Data Source,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2/29/2020,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,1,0,0.01,0.0,0.40,44.08,5.70,58.96,3.50,56.27
1,3/1/2020,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,0,0,0.00,0.0,-0.10,45.71,5.39,59.61,3.43,55.59
2,3/2/2020,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,0,0,0.00,0.0,6.61,52.25,4.49,61.09,3.82,55.35
3,3/3/2020,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,1,0,0.01,0.0,11.27,70.72,4.32,61.56,4.19,54.40
4,3/4/2020,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,5,0,0.03,0.0,10.21,58.76,4.69,60.67,4.58,55.59

In [24]:
Combined_df = pd.read_csv(Combined_data,parse_dates=['Ã¯Â»Â¿Reported_Date'], encoding="ISO-8859-1",low_memory=False)
Combined_df.head()

,Ã¯Â»Â¿Reported_Date,City,is_newyork,Population,Data Source,New_Cases,mavg_7day_new_cases,new_cases_per_100K,mavg_7day_per_100k_new_cases,daily_temp,daily_humidity,mavg_7_temp,mavg_7_humidity,mavg_15_temp,mavg_15_humidity
0,2020-02-29,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,1,0,0.01,0.0,0.40,44.08,5.70,58.96,3.50,56.27
1,2020-03-01,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,0,0,0.00,0.0,-0.10,45.71,5.39,59.61,3.43,55.59
2,2020-03-02,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,0,0,0.00,0.0,6.61,52.25,4.49,61.09,3.82,55.35
3,2020-03-03,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,1,0,0.01,0.0,11.27,70.72,4.32,61.56,4.19,54.40
4,2020-03-04,New York,1,18804000,'https://github.com/nychealth/coronavirus-data...,5,0,0.03,0.0,10.21,58.76,4.69,60.67,4.58,55.59

In [25]:
Combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ã¯Â»Â¿Reported_Date              886 non-null    datetime64[ns]
 1   City                          886 non-null    object
 2   is_newyork                    886 non-null    int64
 3   Population                    886 non-null    int64
 4   Data Source                   886 non-null    object
 5   New_Cases                     886 non-null    int64
 6   mavg_7day_new_cases           886 non-null    int64
 7   new_cases_per_100K            886 non-null    float64
 8   mavg_7day_per_100k_new_cases  886 non-null    float64
 9   daily_temp                    886 non-null    float64
 10  daily_humidity                886 non-null    float64
 11  mavg_7_temp                   886 non-null    float64
 12  mavg_7_humidity               886 non-null    float64
 13  mavg_15_temp                  886 non-null    float64
 14  mavg_15_humidity              886 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(2)
memory usage: 104.0+ KB

In [26]:
#rename date field properly
Combined_df = Combined_df.rename(columns={"Ã¯Â»Â¿Reported_Date":"Reported_Date"})

In [27]:
Combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886 entries, 0 to 885
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Reported_Date                 886 non-null    datetime64[ns]
 1   City                          886 non-null    object
 2   is_newyork                    886 non-null    int64
 3   Population                    886 non-null    int64
 4   Data Source                   886 non-null    object
 5   New_Cases                     886 non-null    int64
 6   mavg_7day_new_cases           886 non-null    int64
 7   new_cases_per_100K            886 non-null    float64
 8   mavg_7day_per_100k_new_cases  886 non-null    float64
 9   daily_temp                    886 non-null    float64
 10  daily_humidity                886 non-null    float64
 11  mavg_7_temp                   886 non-null    float64
 12  mavg_7_humidity               886 non-null    float64
 13  mavg_15_temp                  886 non-null    float64
 14  mavg_15_humidity              886 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(2)
memory usage: 104.0+ KB

In [28]:
#generate a CSV output of clean file
Combined_df.to_csv (r'Clean_CSV_newdata\Final_Combine_Data.csv', index = False, header=True)