In [18]:
# Import Libraries Required
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [19]:
# Add the Resources path variables:
Weather = "NY_SP_Weather_new.csv"

In [20]:
# Read the files and store into Pandas Dataframes using directly the read_csv function that converts excel data into the dataframe
NY_SP_Weather_df = pd.read_csv(Weather, parse_dates=['date'],  encoding="ISO-8859-1",low_memory=False)

In [21]:
NY_SP_Weather_df.head()

,date,city_name,lat,lon,temp_mean,humidity_mean,temp_min,temp_max,1_7_day_avg_temp,8_14_day_avg_temp,1_7_day_avg_humidity,8_14_day_avg_humidity,percent_change_in_temp,percent_change_in_humidity,1_15_day_avg_temp,1_15_day_avg_humidity
0,2020-01-01,New York,40.712775,-74.005973,4.07,60.71,2.00,7.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-02,New York,40.712775,-74.005973,3.26,58.62,-3.33,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-03,New York,40.712775,-74.005973,7.42,78.12,4.44,9.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-04,New York,40.712775,-74.005973,8.63,94.88,6.67,11.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-05,New York,40.712775,-74.005973,4.92,59.67,2.22,10.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
NY_SP_Weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        1004 non-null   datetime64[ns]
 1   city_name                   1004 non-null   object
 2   lat                         1004 non-null   float64
 3   lon                         1004 non-null   float64
 4   temp_mean                   1004 non-null   float64
 5   humidity_mean               1004 non-null   float64
 6   temp_min                    1004 non-null   float64
 7   temp_max                    1004 non-null   float64
 8   1_7_day_avg_temp            990 non-null    float64
 9   8_14_day_avg_temp           976 non-null    float64
 10  1_7_day_avg_humidity        990 non-null    float64
 11  8_14_day_avg_humidity       976 non-null    float64
 12  percent_change_in_temp      976 non-null    float64
 13  percent_change_in_humidity  976 non-null    float64
 14  1_15_day_avg_temp           974 non-null    float64
 15  1_15_day_avg_humidity       974 non-null    float64
dtypes: datetime64[ns](1), float64(14), object(1)
memory usage: 125.6+ KB

In [23]:
#removing all rows with null values
NY_SP_Weather_df=NY_SP_Weather_df.dropna()

In [24]:
NY_SP_Weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 974 entries, 15 to 1003
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   date                        974 non-null    datetime64[ns]
 1   city_name                   974 non-null    object
 2   lat                         974 non-null    float64
 3   lon                         974 non-null    float64
 4   temp_mean                   974 non-null    float64
 5   humidity_mean               974 non-null    float64
 6   temp_min                    974 non-null    float64
 7   temp_max                    974 non-null    float64
 8   1_7_day_avg_temp            974 non-null    float64
 9   8_14_day_avg_temp           974 non-null    float64
 10  1_7_day_avg_humidity        974 non-null    float64
 11  8_14_day_avg_humidity       974 non-null    float64
 12  percent_change_in_temp      974 non-null    float64
 13  percent_change_in_humidity  974 non-null    float64
 14  1_15_day_avg_temp           974 non-null    float64
 15  1_15_day_avg_humidity       974 non-null    float64
dtypes: datetime64[ns](1), float64(14), object(1)
memory usage: 129.4+ KB

In [25]:
NY_SP_Weather_df=NY_SP_Weather_df.reset_index()
del NY_SP_Weather_df["index"]
NY_SP_Weather_df.head()

,date,city_name,lat,lon,temp_mean,humidity_mean,temp_min,temp_max,1_7_day_avg_temp,8_14_day_avg_temp,1_7_day_avg_humidity,8_14_day_avg_humidity,percent_change_in_temp,percent_change_in_humidity,1_15_day_avg_temp,1_15_day_avg_humidity
0,2020-01-16,New York,40.712775,-74.005973,6.97,71.04,2.78,10.00,7.23,4.82,68.06,68.26,-50.00,0.29,5.89,67.66
1,2020-01-17,New York,40.712775,-74.005973,-1.48,40.42,-6.67,4.55,8.49,4.09,71.70,66.39,-107.58,-8.00,6.09,68.35
2,2020-01-18,New York,40.712775,-74.005973,-4.42,56.04,-7.22,1.11,7.71,3.60,67.86,64.84,-114.17,-4.66,5.77,67.14
3,2020-01-19,New York,40.712775,-74.005973,3.39,76.44,-1.67,7.22,5.22,4.22,65.52,61.64,-23.70,-6.29,4.98,65.66
4,2020-01-20,New York,40.712775,-74.005973,-2.58,45.25,-7.22,2.78,3.29,5.93,66.96,62.60,44.52,-6.96,4.63,64.44

In [26]:
#generate a CSV output of clean file
NY_SP_Weather_df.to_csv (r'NY_SP_Weather_df.csv', index = False, header=True)